<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Movies</title>
</head>
<body>
	<h1>New</h1>
	<form action="/movies" method="POST">
		<input type="text" name="title">
		<input type="text" name="description">
		<button type="submit">New movie</button>
	</form>
</body>
</html>