<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Movies</title>
</head>
<body>
	<h1>Movie</h1>
	<div>Title: <%= movie.title %></div>
	<div>Description: <%= movie.description %></div>
</body>
</html>